@import "vars.css";
* {
  transition-property: background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: var(--background-color);
  padding: none;
  margin: none;
  font-family: Raleway;
  color: var(--main-color);
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat;
  font-weight: 800;
  background: linear-gradient(to right, var(--accents-color), yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  color: var(--link);
}
